body {
  background-color: lightcoral;
}

.App {
  margin-top: 380px;
  text-align: center;
}

#add {
  cursor: pointer;
  margin-right: 20px;
  width: 10%;
  height: 60px;
}

#talk {
  cursor: pointer;
  width: 10%;
  height: 60px;
}
